*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 body{
    width: 80%;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;

 }

 header{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .profile-picture{
    flex: 1;
    flex-basis: 40%;
    position: relative;
 }
 .profile-picture>img {
    width: 100%;
 }
 .name-on-image{
    color: white;
    position: absolute;
    bottom: 20px;
    z-index: 200;
    font-size: 40px;
    margin-left: 10px;
    opacity: .8;
    font-style: oblique;
 }

 .about-me{
    background-color: white;
    flex: 1;
    flex-basis: 60%;
    padding: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.56);
 }
 
 ul{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: flex-start;
 }
 ul>*{
    list-style-type: none;
 }

 .github,
 .twitter,
 .linkedin{
    height: 20px;
 }
 

 /* img {
    min-height: 200px;
 } */
 h2 {
    padding: 20px;
    font-size: 35px;
 }

 main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 20px;
 }
 main>*{
    min-width: 250px;
    flex: 1;
 }
 main>section{
    box-shadow: 1px 1px 5px #475569;
    margin-top: 15px;
 }

 section>div{
    padding: 15px;
 }
 section img{
    margin-bottom: 20px;
    width: 100%;
 }

 .project-name{
    display: flex;
    justify-content: space-between;
 }
footer{
    background-color: #0ea5e9;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    align-items: center;
    column-gap: 40px;
    margin-bottom: 40px;
}
footer>*:nth-child(2){
    min-width: 100px;
}

footer>div{
    width: 60%;
    align-self: center;
    font-size: 20px;
   
}

footer>img{
    max-width: 60%;
}


.color-blue{
    height: 700px;
    width: 200%;
    background-color: #38bdf8;
    position: absolute;
    top: -400px;
    z-index: -110;
    left: -300px;
    transform: rotate(-10deg);

}





@media(max-width: 700px){
    body{
        width: 90%;
        padding-bottom: 155px;
    }
    header{
        display: flex;
        flex-direction: column;
    }
    footer{
        display: flex;
        flex-direction: column;
        height: 300px;
    }

    footer>img{
        width: 80%;
    }

    footer{
        padding: 0;
        position: relative;
    }

    
    footer>div{
        width: 90%;
        align-self: center;
        font-size: 20px;
        margin-top: -120px;
   
        }

    .contact-me{
        font-size: 40px;
        color: white;
        text-align: center;
        text-shadow: 1px 1px 2px black;

    }


    .footerImage{
        width: 100%;
        position: absolute;
        bottom: -200px;
    }
    
    .color-blue{
        height: 700px;
        width: 600px;
        background-color: #38bdf8;
        position: absolute;
        top: -400px;
        z-index: -110;
        left: -300px;
        transform: rotate(-10deg);
        overflow: hidden;
    
    }


}

@media(min-width: 1250px){
    main{
        display: grid;
        grid-template-areas: 
        "one two three"
        "four five six";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .project-one{
        grid-area: one;
    }
    .project-two{
        grid-area:  two;
    }
    .project-three{
        grid-area: three;
    }
    .project-four{
        grid-area: four;
    }
    .project-five{
        grid-area: five;
    }
    .project-six{
        grid-area: six;
    }
    footer {
        height: 300px;
        overflow: hidden;
    }
    footer h4 {
        text-shadow: 1px 1px 3px white;
    }
}
